<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/common.css">

    <title>Local Michelin</title>

    <style>


    </style>

</head>
<body>
<header class="wrap">
    <div class="common-inner header-inner">
        <h1 class='logo' onclick="window.location.href = '/'">Local Michelin</h1>
        <ul class="nav-bar">
            <li class="nav-item">
                <a href="/login" class="btn btn-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="btn btn-link">Sign Up</a>
            </li>
        </ul>
    </div>
</header>

<div class="wrap content-wrap">
    <div class="common-inner content-inner">

        <p class="detail-title">혹스턴</p>

        <div class="detail-top">
            <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20220305_193%2F1646410056605EO1Sn_JPEG%2F271467333_629520225025538_5041099427267513676_n_%25281%2529.jpg&type=f&size=680x360"
                 alt="가게 이미지">
            <p class="store-num">Call : <span class="store-num number">02-314-8972</span></p>
            <p class="store-time">11:00 - 22:00</p>
        </div>

        <div class="store-decs">
            <p class="desc-txt">거슬림 없는 편안한 커피를 내고자 합니다. As you like it, HOXTON.️</p>
        </div>
        <div class="store-map-part">
            <p class="store-addr">서울 서대문구 연희동 188-4 2층</p>
            <div class="store-map">
                <!--        Api 사용해서 나타낼곳        -->
            </div>
        </div>

        <div class="comment-wrap btn-wrap">
            <p class="comment-title">rivew</p>
            <ul class="comment-list">
                <li class="comment-item">
                    <span class="comment-name">동그리</span>
                    <span class="comment-star">⭐⭐⭐⭐⭐️</span>
                    <p class="comment-txt">
                        집 바로 근처라 우연히 가오픈때 가본 후, 커피가 너무 맛있어서 자주 들러요. 일단 커피가 너무 맛있고 원두 고민하고있으면 친절히 설명과 추천도 해주셔서 좋았습니다. 라떼도
                        맛있어요 !
                    </p>
                </li>
                <li class="comment-item">
                    <span class="comment-name">hyebi</span>
                    <span class="comment-star">⭐⭐⭐⭐️</span>
                    <p class="comment-txt">
                        슬슬 졸리면서 당떨어져가는 오후타임에
                        혹스턴 크림라떼 한잔 하면 눈이 번쩍 떠져요ㅎㅎ
                        쫀득 부드러운 크림이랑 커피 궁합 너무 좋구요
                        또 다른 최애메뉴인 바닐라라떼는 진한데 쓰지 않고 고소해요.
                        저번에 필터커피도 한번 마셔봤는데
                        향 너무 좋고 부드러웠어요
                        직원분들도 친절하셔서 언제가도 기분 좋은곳!
                    </p>
                </li>
                <li class="comment-item">
                    <span class="comment-name">liber_025</span>
                    <span class="comment-star">⭐⭐⭐⭐⭐️</span>
                    <p class="comment-txt">
                        커피가 맛있고 사장님이 친절해요 💟☕️
                    </p>
                </li>
                <li class="comment-item">
                    <span class="comment-name">Tonag</span>
                    <span class="comment-star">⭐⭐️⭐</span>
                    <p class="comment-txt">
                        생긴지얼마안됬더라구요~ 분위기좋구 조용해서 좋앗어요 커피맛은 괜찮은데 양이 좀 적어요 ㅎㅎ
                    </p>
                </li>
            </ul>
        </div>

        <div class="mb-3 comment-write">
            <label for="description" class="form-label write-title">reviw write</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
            <div class="btn write-btn">
                <button type="button" class="btn btn-dark">등록</button>
                <button type="button" class="btn btn-light">취소</button>
            </div>
        </div>


    </div>
</div>


<footer class="wrap">
    <div class="common-inner footer-inner">
        <p class="footer-txt">© 2022 mini-project</p>
    </div>
</footer>
</body>
</html>