<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,500;1,700&display=swap"
          rel="stylesheet">
    <title>test</title>
    <link rel="stylesheet" href="../static/css/common.css">

    <style>
        /*  list style  */
        .content-wrap {
            margin: 85px auto;
            /*background: rgba(183, 25, 25, 0.49);*/
            text-align: center;
        }

        .content-inner {
            position: relative;
        }

        .content-inner > span {
            position: absolute;
            right: 10px;
            top: 30px;


        }

        .content-title {
            font-weight: 700;
            font-size: 26px;
            font-family: 'Noto Serif KR';

            margin-bottom: 50px;
        }

        .list-link > img {
            width: 100%;
            /*height: 200px;*/
        }
    </style>
    <script>
        let matjips = {{ matjips|tojson }};
            let matjip_list = [];
            for (let i=0; i<matjips.length; i++){
                matjip_list.push(matjips[i]["store_name"])
                matjip_list.push(matjips[i]["description"])
                matjip_list.push(matjips[i]["src"])
                matjip_list.push(matjips[i]["num"])
            }
            console.log(matjip_list)

        $(document).ready(function () {
           // show_matjip();
        });

        function show_matjip() {




            $.ajax({
                type: "GET",
                url: "/matjip",
                data: {},
                success: function (response) {
                    let rows = response['matjip_list']
                    console.log(rows)
                    for (let i = 0; i < rows.length; i++) {
                        let store_name = rows[i]['store_name']
                        let description = rows[i]['description']
                        let src = rows[i]['src']
                        let num = rows[i]['num']

                        let temp_html = `<div class="col">
                                                <div class="card h-100">
                                                    <a href="/detail" class="list-link" >
                                                        <img src="${src}"
                                                             class="card-img-top" alt="${num}" >
                                                        <div class="card-body">
                                                            <h5 class="card-title">${store_name}</h5>
                                                            <p class="card-text">${description}
                                                            </p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>`
                        $('#matjip-list').append(temp_html)
                    }
                }
            });
        }


    </script>
</head>
<body>
<header class="wrap">
    <div class="common-inner header-inner">
        <h1 class='logo' onclick="window.location.href = '/'">Local Michelin</h1>
        <ul class="nav-bar">
            <li class="nav-item">
                <a href="/login" class="btn btn-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="btn btn-link">Sign Up</a>
            </li>
        </ul>
    </div>
</header>

<div class="wrap main-wrap">
    <div class="common-inner banner-wrap">
        <div class="banner-inner">
            <h2 class="title">local Michelin</h2>
            <p class="title-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, neque, recusandae.
            </p>
            <a href="/post" class="btn btn-post">Post</a>
        </div>
    </div>
    <div class="common-inner content-wrap">
        <div class="content-inner">
            <p class="content-title">인기 맛집</p>
            <span><a href="#" class="btn-link">전체보기</a></span>
            <div class="row row-cols-1 row-cols-md-4 g-4" id="matjip-list">
                {% for matjip in matjips %}
                <div class="col">
                    <div class="card h-100">
                        <a href="/detail/{{ matjip.store_name }}" class="list-link">
                            <img src="{{ matjip.src }}"
                                 class="card-img-top" alt="{{ matjip.num }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ matjip.store_name }}</h5>
                                <p class="card-text">{{ matjip.description }}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<footer class="wrap">
    <div class="common-inner footer-inner">
        <p class="footer-txt">© 2022 mini-project</p>
    </div>
</footer>
</body>
</html>